@font-face {
    font-family: fancyhandwritting;
    src: url("Fonts/wasted-vindey/Wasted-Vindey.ttf");
}
@font-face {
    font-family: fancyhandwritting2;
    src: url("Fonts/mestika/Mestika.ttf");
}
label svg {
    pointer-events: none;
}
#menucheckbox:checked ~ .mobile-nav {
    right: 0;
}
#menucheckbox {
    display: none;
}
.mobile-nav li {
    list-style-type: none;
    padding: 5px 0px;
}
.mobile-nav {
    position: fixed;
    right: -250px;
    width: 250px;
    background-color: #c7d4af;
    transition: 1s;
    font-size: 24px;
    top: 0;
    z-index: 1;
}
.navbar {
    background-color: #c7d4af;
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: fancyhandwritting2;
    color: #556b2f;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #cbaf51;
}

p {
    font-family: fancyhandwritting;
    font-size: 4em;
}
h1 {
    font-family: fancyhandwritting2;
    background-image: linear-gradient(to right, #556b2f 0, #cbaf51 22%, #77853b 45%, #556b2f 50%, #77853b 55%, #cbaf51 78%, #556b2f 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 8em;
    text-align: center;
}
h2 {
    font-family: fancyhandwritting2;
    background-image: linear-gradient(to right, #556b2f 0, #cbaf51 22%, #77853b 45%, #556b2f 50%, #77853b 55%, #cbaf51 78%, #556b2f 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4em;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}
.background {
    opacity: 0.3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-image: url("./images/AppaTophBG.jpg");
    height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    width: 100%;
    height: 700px;
    transition: transform 05s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

.non-active {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slide video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.slider-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 300px;
    width: 98%;
    background: transparent;
    top: 80%;
    margin: auto;
}

.slider-controls button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(231, 229, 230);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}

#greeting-text {
    max-width: 80%;
    margin: auto;
}
.hamburguerbuttom {
    display: none;
    margin-left: auto;
    width: fit-content;
    padding: 5px;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 3em;
        margin-top: 1.3em;
        text-align: center;
    }
    h2 {
        margin-bottom: 0;
        text-align: center;
        font-size: 2.5em;
    }
    .navbar > nav {
        display: none;
    }
    .hamburguerbuttom {
        display: block;
    }
    .slider-container {
        width: 98%;
    }
    p {
        font-size: 26px;
    }
    .navbar {
        padding: 0;
    }
    .background {
        background-size: 150%;
        background-position-x: 66%;
        background-position-y: 18%;
    }
    .nav-links {
        flex-direction: column;
        gap: 0;
        margin-top: 43px;
    }
}
