.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(48, 194, 67);
    left: 0;
    right: 0;
}
.hamburguerbuttom {
    margin-left: auto;
    width: fit-content;
    padding: 5px;
    display: block;
}
nav {
    position: fixed;
    right: -250px;
    width: 250px;
    background-color: rgb(0, 255, 221);
    transition: 1s;
    font-size: 24px;
}
nav li {
    list-style-type: none;
    padding: 5px 0px;
}
main {
    margin-top: 50px;
}
#menucheckbox:checked ~ nav {
    right: 0;
}
#menucheckbox {
    display: none;
}
