.dresscode-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.dresscode-container img {
    height: 250px;
}
p {
    margin: 25px;
    max-width: 80%;
    margin: auto;
    text-align: justify;
    text-align: center;
}
