.address-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.copy-button {
    font-size: 2em;
    border-radius: 4px;
    display: flex;
    padding: 10px;
}
.small-map {
    display: none;
}
p {
    display: flex;
    align-items: center;
    margin: 10px;
    width: fit-content;
    margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
    .big-map {
        display: none;
    }
    .small-map {
        display: block;
    }
    p {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .address-container {
        flex-direction: column;
        margin: 10px;
        margin-bottom: 20px;
    }
}
